<footer class="footer">
  <div class="footer-container mat-elevation-z2" color="primary">
    <!-- LOGO -->
    <div class="logo-container">
      <div class="logo">
        <span>
          <mat-icon class="logo-icon" fontIcon="local_mall"></mat-icon>
          <a>{{ brandName }}</a>
        </span>
      </div>
    </div>
    <!-- PROJECT -->
    <div class="project-container">
      <span class="project">{{ project }}</span>
    </div>
    <!-- COPYRIGHT -->
    <div class="copyright-container">
      <div class="copyright">
        <span>{{ copyrightLine1 }}</span>
        <a>{{ copyrightLine2 }}</a>
      </div>
    </div>
  </div>
</footer>