:host {
  padding: 10px;
}

mat-card {
  margin: auto;
  margin-top: 40px;
  max-width: 400px;
  box-sizing: border-box;
  background: rgb(255, 255, 255, .8);
}

mat-tab-nav-panel {
  padding: 2rem;
}

