<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>404</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h3> <span style="color: red;"> Opps! </span> Page not found.</h3>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <i> The page you’re looking for doesn’t exist. </i>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="">Go Home</button>
    </mat-card-actions>
</mat-card>