<h1>
    <mat-icon>settings</mat-icon>
    Settings
</h1>
<div class="container">
    <mat-card >
        <!-- FORM -->
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <!-- EMAIL -->
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix color="primary">email</mat-icon>
                    <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com" />
                </mat-form-field>
                <!-- NAME -->
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <mat-icon matPrefix color="primary">person</mat-icon>
                    <input matInput type="text" formControlName="name" placeholder="John"
                        [errorStateMatcher]="basicErrorStateMatcher" />
                    <mat-error *ngIf="this.name.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <!-- SURNAME -->
                <mat-form-field>
                    <mat-label>Surname</mat-label>
                    <mat-icon matPrefix color="primary">person</mat-icon>
                    <input matInput type="text" formControlName="surname" placeholder="Doe"
                        [errorStateMatcher]="basicErrorStateMatcher" />
                    <mat-error *ngIf="this.surname.hasError('required')">
                        Surname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <!-- BUTTON -->
                <button mat-raised-button [disabled]="!form.valid || (status$ | async) === 'pending'" color="primary">
                    Update
                </button>
            </form>
        </mat-card-content>
        <!-- STATUS BAR -->
        <mat-card-footer>
            <app-status [status]="(status$ | async) || 'initial'"></app-status>
        </mat-card-footer>
    </mat-card>
    <!-- LOGOUT -->
    <button class="button-logout" mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>