
<div *ngIf="(status$ | async) == 'pending'">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="(status$ | async) == 'success'">
    <div *ngIf="product$ | async as product" class="container">
        <!-- BREADCRUMB -->
        <i class="gray">{{ (productCategoryService.getProductCategory(product.categoryId) | async)?.name || "..." }} / {{ product.name }} </i>
        <!-- PRODUCT -->
        <div class="product-container">
            <div class="product-image">
                <img [src]="product.image">
            </div>
            <!-- SHORT DETAILS -->
            <div class="product-short-details">
                <h2 class="product-name"> {{ product.name }} </h2>
                <div class="gray"> {{ (productCategoryService.getProductCategory(product.categoryId) | async)?.name || "..." }} </div>
                <!-- SHORT DESCRIPTION -->
                <div class="product-short-description"> {{product.shortDescription}} </div>
                <!-- DESCRIPTION -->
                <div class="product-description"> {{product.description}} </div>
                <hr>
                <div class="product-footer">
                    <!-- PRICE -->
                    <div *ngIf="product.quantity >= 1; then inStock else outStock"></div>
                    <ng-template #inStock>
                        <span class="price">
                            <h3> {{ product.price | currency:'EUR' }} </h3>
                        </span>
                    </ng-template>
                    <ng-template #outStock>
                        <span class="text-danger">
                            <h4>Out of Stock</h4>
                        </span>
                    </ng-template>
                    <!-- ADD TO CART -->
                    <button mat-flat-button color="primary" [disabled]="product.quantity < 1" (click)="addProductToCart(product.id)">
                        <mat-icon fontIcon="shopping_cart"></mat-icon>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
