.spacer {
    flex: 1 1 auto;
}

.position-fixed {
    position: fixed
}

mat-toolbar {
    z-index: 10;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-info-container {
    margin-right: 20px;
}

.small-button {
    width: 36px;
    height: 36px;
    min-width: 38px !important;
    padding: 0px !important;
    background-color: rgb(255, 255, 255) !important; // TODO: theming
}

.material-icon {
    color: #3F51B5; // TODO: theming
}